body, h1, h2, p, ul, li, a {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    background: #FFF5E4;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

/*Header*/

.menu-bg {
    background: #FFD898;
}

.menu {
   display: flex;
   justify-content: space-between;
   max-width: 960px;
   margin: 0 auto;
   flex-wrap: wrap;
   padding: 15px 0;
   align-items: center;
}

.menu-logo {
    max-width: 50px;
    margin: 0 10px;
}

.menu-nav ul {
    display: flex;
    flex-wrap: wrap;
}

.menu-nav a {
    display: block;
    padding: 10px;
    color: #222;
    font-weight: bold;
}

.menu-nav a:hover {
    color: #7E5C24;
}

/*Introdução*/

.introducao {
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 10px;
    font-size: 2.25em;
}

/* Sobre */

.sobre {
    display: flex;
    border-top: 2px solid #7E5C24;
    border-bottom: 2px solid #7E5C24;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0;
    flex: 1;
}

.sobre h1 {
    margin: 10px;
    font-size: 2.25em;
    font-weight: bold;
    padding-top: 30px;
}

.sobre p {
    padding: 20px 20px 0 0;
}

.sobre-info p {
    color: #7E5C24;
    font-size: 1.25em;
    line-height: 1.4; 
    margin-left: 10px;
}

.gato1 {
    display: flex;
    max-width: 300px;
    max-height: 435px;
    margin: 10px auto;

}

.gatos {
    max-width: 310px;
    padding: 5px;
    margin: 5px auto;
}

.sobre-imagem {
    padding: 12px;
}

/* Raças */

.racas {
    max-width: 960px;
    margin: 60px auto;
}

.racas h1 {
    font-size: 2.25em;
    padding: 0px 10px 60px 10px;
}

.racas-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.raca-item {
    flex: 1 1 175px;
    margin: 10px;
}

.raca-item h2 {
    font-size: 1.5em;
    padding: 60px 20px;
    text-align: center;
    color: #D3AE70;
    background: #FFEED2;
}

.siames {
    border-top: 8px solid #A0E7E5;
}

.siames img {
    height: 200px;
}

.persa {
    border-top: 8px solid #FFAEBC;
}

.angora {
    border-top: 8px solid #B4F8C8;
}

/* Ciclo */

.ciclo {
    max-width: 960px;
    margin: 0 auto;
}

.ciclo-container {
    display: flex;
}

