body, h1, h2, p, ul, li, a {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    background: #FFF5E4;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

/*Header*/

.menu-bg {
    background: #FFD898;
}

.menu {
   display: flex;
   justify-content: space-between;
   max-width: 960px;
   margin: 0 auto;
   flex-wrap: wrap;
   padding: 15px 0;
   align-items: center;
}

.menu-logo {
    max-width: 50px;
    margin: 0 10px;
    cursor: pointer;
}

.menu-nav ul {
    display: flex;
    flex-wrap: wrap;
}

.menu-nav a {
    display: block;
    padding: 10px;
    color: #222;
    font-weight: bold;
}

.menu-nav a:hover {
    color: #7E5C24;
}

/*Introdução*/

.introducao {
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 10px;
    font-size: 2.25em;
}

/* Sobre */

.sobre {
    display: flex;
    border-top: 2px solid #7E5C24;
    border-bottom: 2px solid #7E5C24;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0;
    flex: 1;
}

.sobre h1 {
    margin: 10px;
    font-size: 2.25em;
    font-weight: bold;
    padding-top: 30px;
}

.sobre p {
    padding: 20px 20px 0 0;
}

.sobre-info p {
    color: #7E5C24;
    font-size: 1.25em;
    line-height: 1.4; 
    margin-left: 10px;
}

.gato1 {
    display: flex;
    max-width: 300px;
    max-height: 435px;
    margin: 10px auto;

}

.gatos {
    max-width: 310px;
    padding: 5px;
    margin: 5px auto;
}

.sobre-imagem {
    padding: 12px;
}

@media (max-width: 767px) {
    .sobre {
        flex-direction: column;
        align-items: center;
    }   
    .sobre-info, .gatos {
        width: 100%;
    }
    .sobre-imagem img {
        max-width: 100%;
        height: auto;
    }
}

/* Raças */

.racas {
    max-width: 960px;
    margin: 60px auto;
}

.racas h1 {
    font-size: 2.25em;
    padding: 0px 10px 60px 10px;
}

.racas-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.raca-item {
    flex: 1 1 175px;
    margin: 10px;
}

.raca-item h2 {
    font-size: 1.5em;
    padding: 60px 20px;
    text-align: center;
    color: #D3AE70;
    background: #FFEED2;
}

.siames {
    border-top: 8px solid #A0E7E5;
}

.siames img {
    height: 200px;
}

.persa {
    border-top: 8px solid #FFAEBC;
}

.angora {
    border-top: 8px solid #B4F8C8;
}

/* Ciclo */

.ciclo-bg {
    background: #F1CC8E;
    padding: 60px;
}   

.ciclo-container {
    max-width: 960px;  
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.ciclo-item {
    flex: 1 1 260px;
    border: 4px solid #FFEED2;
    padding: 20px;
    margin: 10px;
}

.ciclo-item h2 {
    text-align: center;
    color: #C59A54;
    font-size: 2em;
}

.ciclo-item ul {
    max-width: 300px;
    margin: 20px auto;
    font-size: 1.em;
    margin-top: 30px auto;
    align-items: flex-end;
}

.ciclo-item li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.ciclo-item li::after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background:#C59A54;
    border-radius: 3px;
}

/* Curiosidades */

.curiosidades {
    max-width: 960px;
    margin: 60px auto;
    display: flex;
    flex-wrap: wrap;
}

.curiosidade {
    flex: 1 1 300px;
    margin: 20px 10px;
}

.curiosidade h2 {
    font-size: 1.5em;
    color: #624E2E;
    margin-bottom: 10px;
}

.curiosidade h2::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 20px;
    margin-right: 10px;
}

.curiosidade:nth-of-type(3n+1) h2::before {
    background: #A0E7E5;
}

.curiosidade:nth-of-type(3n+2) h2::before {
    background: #FFAEBC;
}

.curiosidade:nth-of-type(3n+3) h2::before {
    background: #ae81ff;
}

.curiosidade p {
    font-size: 1.1em;
    line-height: 1.4;
    color: #7E5C24;
}

/* Newsletter */

.newsletter {
    background: #7E5C24;
    padding: 60px;
}

.newsletter-container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.newsletter-info {
    flex: 1 1 260px;
    margin: 10px;
}

.newsletter-info h2 {
    font-size: 2em;
    color: #FCE8C7;
}

.newsletter-input {
    flex: 2 1 260px;
    margin: 0 10px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
}

.newsletter-input input {
    flex: 3 1 200px;
    font-size: 1.25em;
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    border: 4px solid #624E2E;
    padding: 10px;
    margin: 0px;
    border-radius: 0px;
}

.newsletter-input button {
    flex: 1 1 200px;
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    text-transform: uppercase;
    background: #FCE8C7;
    color: #624E2E;
    margin: 0;
    cursor: pointer;
    border: 0px;
    padding: 10px;
}

@media (max-width: 600px) {
    .newsletter-input button {
        font-size: 1em;
    }
}

/* Footer */

footer {
    background: #473009;
    padding: 60px calc((100% - 960px) / 2);
    display: flex;
    align-items: center;
    height: 200px;
}

footer p {
    color: #C59A54;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    flex: 1;
}


